{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="list-group">

            <h1 class="list-group-item">{{ post.title }}</h1>

            <div class="list-group-item">

                {{ form_start(edit_form) }}

                {{ form_widget(edit_form) }}

                    {% if post.image %}
                        <p>You loaded this pic. If you want to change it, choose a new one and it will be replace.</p>
                        <img src="{{ asset('uploads/images/' ~ post.image.filename) }}" class="prev-img"/>
                    {% endif %}
            </div>

            <div class="list-group-item"
                 style="display:flex;flex-direction: row;align-items: center; justify-content: space-between;">

                <input type="submit" value="Save" class="btn btn-success"/>
                {{ form_end(edit_form) }}

                <a href="{{ path('_index') }}">Back to the list</a>

                {{ form_start(delete_form) }}
                {#todo Katya add delete confirmation bootstrap dialog#}
                <input
                        type="submit"
                        value="Delete"
                        class="btn btn-danger"
                >
                {{ form_end(delete_form) }}


            </div>
        </div>

    </div>
{% endblock %}
