{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="list-group">
            <h1 class="list-group-item">{{ post.title| striptags('<h1><span>') | raw }}</h1>
            <p class="list-group-item">Post id: {{ post.id }}</p>
            <div class="list-group-item">{{ post.field|raw }}</div>
            {#<a href="{{ asset('uploads/images/' ~ post.image) }}">View image</a>#}
            <div class="list-group-item">
                {% if post.image %}
                <img src="{{ asset('uploads/images/' ~ post.image.filename) }}"/>
                {% endif %}
            </div>


            <div class="list-group-item"
                 style="display:flex;flex-direction: row;align-items: center; justify-content: space-between;">

                <a href="{{ path('_edit', { 'id': post.id }) }}" class="btn btn-success">Edit</a>

                <a href="{{ path('_index') }}">Back to the list</a>

                {{ form_start(delete_form) }}
                <button id="confirmationPopup" type="button" class="btn btn-danger" data-toggle="modal"
                        data-target=".bs-example-modal-sm">
                    Delete
                </button>

                {% include 'post/modal.html.twig' %}

                {{ form_end(delete_form) }}

                {#todo Katya add discus comments#}
            </div>
            <div id="disqus_thread" class="list-group-item">
                {% include 'post/comment.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}
